.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0.85rem 1.5rem;

  border: none;
  border-radius: var(--radius-md);

  font-size: 1rem;
  font-weight: 600;

  cursor: pointer;

  text-decoration: none;

  transition:
    background-color .2s ease,
    color .2s ease,
    transform .2s ease,
    box-shadow .2s ease;
}

.button:hover {
  transform: translateY(-2px);
}

.button--primary {
  background: var(--color-primary-dark);
  color: white;
}

.button--primary:hover {
  background: #744a0e;
  box-shadow: var(--shadow-md);
}

.button--secondary {
  background: var(--color-surface);
  color: var(--color-text);
}

.button--outline {
  background: transparent;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}
