.header{
    position:sticky;
    top:0;
    z-index:100;

    background:#fff;
    border-bottom:1px solid var(--color-border);
}

.main-nav{

    width:min(1400px,calc(100% - 2rem));
    margin:auto;

    padding:.45rem 0;

}

.main-nav__list{

    margin:0;
    padding:0;

    list-style:none;

    display:flex;
    justify-content:center;
    align-items:center;

    gap:2rem;

}

.main-nav__logo{

    margin-right:2rem;

}

.header__logo-image{

    width:150px;
    display:block;
    height:72px;
    width: auto;

}

.main-nav a{

    color:var(--color-text);

    text-decoration:none;

    font-size:.95rem;
    font-weight:500;

    position:relative;

    white-space:nowrap;

    transition:.2s;

}

.main-nav a:hover{

    color:var(--color-primary);

}

.main-nav a::after{

    content:"";

    position:absolute;

    left:0;
    bottom:-5px;

    width:0;
    height:2px;

    background:var(--color-primary);

    transition:.2s;

}

.main-nav a:hover::after{

    width:100%;

}