.hero {
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.55),
    rgba(0, 0, 0, 0.55)
  ),
  url("/images/hero-home.webp");

background-size: cover;
background-position: center;
background-repeat: no-repeat;
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  color: white;
}

.hero__content {
  width: min(650px, calc(100% - 4rem));
  margin: 0 auto;

  min-height: calc(100vh - 80px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero__content h1 {
  font-size: 3.5rem;
  margin-bottom: var(--space-md);
}

.hero__content p {
  max-width: 32rem;
  font-size: 1.25rem;
  margin-bottom: var(--space-lg);
  color: rgba(255, 255, 255, 0.9);
}